<!--assets内に記述してもbootstrap優先されてしまうためviewに記述-->
<style>
  .table-hover tbody tr:hover {
    background-color: rgba(245, 245, 220, 0.7);
  }
  .table {
    color: #3A5734;
    border-color: #3A5734;
  }
  .table-admin-comment td:nth-child(1),
  .table-admin-comment td:nth-child(3),
  .table-admin-comment td:nth-child(4),
  .table-admin-comment td:nth-child(5) {
    width: 22%;
  }
  .table-admin-comment td:nth-child(2) {
    width: 12%;
  }
</style>

<div class="container p-2">
  <div class= "row">
    <div class="col-md-10 offset-md-1 ">
          <h2 class="title mb-4"><b>コメント一覧</b></h2>
          <p>(全<%= @comments_count.count %>コメント)</p>
      <!--おしまい-->

      <!--レシピ一覧テンプレート-->
      <div class="row">
        <div class="col">
          <table class="table table-hover table-inverse table-admin-comment">
              <thead>
                <tr>
                  <th>投稿日時</th>
                  <th>コメントid</th>
                  <th>コメント詳細</th>
                  <th>コメントレシピ</th>
                  <th>投稿会員名</th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <% @comments.each do |comment| %>
              <tbody>
                <tr>
                  <td><span><%= comment.created_at.in_time_zone('Tokyo').strftime('%Y/%m/%d %H:%M:%S') %></span></td>
                  <td><span><%= comment.id %></span></td>
                  <td><span><%= link_to admin_recipe_path(comment.recipe.id), class:"link" do %><b><%= comment.comment %><% end %></b></span></td>
                  <td><span><%= comment.recipe.name %></span></td>
                  <td><span><%= link_to admin_user_path(comment.user.id), class:"link" do %><b><%= comment.user.name %><% end %></b></span></td>
                  <td colspan="3"></td>
                </tr>
              </tbody>
              <% end %>
          </table>
        </div>
      </div>


    <div class="d-flex justify-content-center mt-3 pagination">
      <%= paginate @comments %>
    </div>

      <!--おしまい-->
    </div>
  </div>
</div>