<div class="row">
  <div class="col">
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th>レシピ名</th>
          <th>ユーザー</th>
          <th>アレンジ前メニュー</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <% @recipes.each do |recipe| %>
      <tbody>
        <tr>
          <td><span><%= link_to admin_recipe_path(recipe.id) do %><%= image_tag recipe.get_menu_image(80,80) %><% end %></span></td>
          <td><span><%= link_to admin_recipe_path(recipe.id) do %><%= recipe.name %><% end %></span></td>
          <td><span><%= link_to admin_user_path do %><%= user.name %><% end %></span></td>
          <td><span><%= recipe.original_menu.name %></span></td>
          <td colspan="3"></td>
        </tr>
      </tbody>
      <% end %>
     </table>
  </div>
</div>

  <div class="outer">
    <div class="inner">
      <%= paginate recipes %>
    </div>
  </div>