<!--レシピ一覧-->
<% recipes.each do |recipe| %>
  <div class="row">
    <div class="col py-1">
      <table class="table table-hover">
        <tr>
          <td><%= link_to recipe_path(recipe.id) do %><%= image_tag recipe.get_menu_image(150,150), class: "rounded" %><% end %></td>
          <td>
            <b><%= link_to recipe_path(recipe.id),class:"link" do %><%= recipe.name %><% end %></b><br>
            <%= recipe.original_menu.name %>のアレンジレシピ
          </td>
        </tr>
      </table>
    </div>
  </div>
<% end %>
<!--おしまい-->

<!--レシピページネーション-->
<p><%= paginate recipes %></p>
<!--おしまい-->