<!--assets内に記述してもbootstrap優先されてしまうためviewに記述-->
<style>
.table-hover tbody tr:hover {
  background-color: rgba(245, 245, 220, 0.7);
}
</style>

<!--レシピ一覧-->
<% recipes.each do |recipe| %>
  <div class="row">
    <div class="col py-1">
      <table class="table table-hover">
        <tr>
          <td><%= link_to recipe_path(recipe.id) do %><%= image_tag recipe.get_menu_image(150,100), class: "rounded" %><% end %></td>
          <td>
            <h5><b><%= link_to recipe_path(recipe.id),class:"link" do %><%= recipe.name %><% end %></b></h5><br>
            <%= recipe.original_menu.name %>のアレンジレシピ
          </td>
        </tr>
      </table>
    </div>
  </div>
<% end %>
<!--おしまい-->

<!--レシピページネーション-->
<div class="d-flex justify-content-center mt-3 pagination">
  <%= paginate recipes %>
</div>
<!--おしまい-->