<!--エラーが起きた時分かりやすいようにf.をs.に変更。render元はk.s.-->

<!--材料フォーム（Javascript)-->
<div class="cooking-title"><b>材料</b></div>
  <section class="ingredient-form">
    <!-- 材料、分量フォームの隠し要素テンプレート、display: noneを指定しているため表示はされない -->
    <div id="ingredient-fields-template" style="display: none;">
      <!-- 新しいIngredientオブジェクトを作成, 新たに追加されるフォームに一意なインデックスを付与 -->
      <%= s.fields_for :ingredients, Ingredient.new, child_index: "new_ingredient" do |ingredient_field| %>
        <%= render 'public/recipes/ingredient_field', j: ingredient_field %>
      <% end %>
    </div>
    <!--隠し要素テンプレート終わり-->
    <!--すでにデータベースに保存されているか、または新しくユーザーが追加した「材料」に関する情報を表示するためのフォーム-->
    <%= s.fields_for :ingredients do |ingredient_field| %>
      <%= render 'public/recipes/ingredient_field', j: ingredient_field %>
    <% end %>
    <div id="ingredients"></div>
  　　<div>
        <button type="button" id="add-ingredient" class="btn btn-light custom-add">材料を追加</button>
      </div>
　</section>

<!--手順フォーム（Javascript)-->
<div class="cooking-title"><b>作り方（必須）＊写真は必須ではありません。</div>
  <section class="procedure">
    　<!--作り方フォームの隠し要素テンプレート-->
      <div id="procedure-fields-template" style="display: none;">
        <!--新しいRecipeStepオブジェクトを作成-->
        <%= s.fields_for :procedures, Procedure.new, child_index: "new_procedure" do |procedure_field| %>
          <%= render 'public/recipes/procedure_field', k: procedure_field %>
        <% end %>
      </div>
      <!--すでにデータベースに存在するか、または新しく追加された「作り方」ステップを表示するフォーム-->
      <%= s.fields_for :procedures do |procedure_field| %>
        <%= render 'public/recipes/procedure_field', k: procedure_field %>
      <% end %>
      <div id="procedures"></div>
        <div>
           <button type="button" id="add-procedure" class="btn btn-light custom-add mb-4">作り方を追加</button>
        </div>
  </section>

<!--材料、手順のJavascript-->
<script>
     // DOMContentLoaded文書のロード、DOMが完全に読み込まれた後に以下のコードが実行される
    document.addEventListener('turbolinks:load', function() {
      // "add-ingredient" IDを持つHTML要素（ボタン）を取得、「材料を追加」ボタンにクリックイベントを追加
      document.getElementById("add-ingredient").addEventListener("click", function() {
        // "ingredient-fields-template"というIDを持つdiv要素の内部HTML（隠しテンプレート）を取得
        var content = document.getElementById("ingredient-fields-template").innerHTML;
        var uniqueId = new Date().getTime();
        // replace: テンプレート内のプレースホルダーを一意なIDで置き換え
        content = content.replace(/new_ingredient/g, uniqueId);
        // 新しい材料フォームをDOMに追加
        document.getElementById("ingredients").insertAdjacentHTML('beforeend', content);
      });
    });
      // 作り方フォーム追加
      document.addEventListener('turbolinks:load', () => {
        document.querySelector('#add-procedure').addEventListener('click', () => {
          let content = document.getElementById('procedure-fields-template').innerHTML;
          let uniqueId = new Date().getTime();
          content = content.replace(/new_procedure/g, uniqueId);
          document.getElementById('procedures').insertAdjacentHTML('beforeend', content);
        });
      });
</script>