<section class="recipe-info">
  <table class="recipe-info__datas">
    <tr>
      <th>メッセージ</th><td><%= recipe.description %></td>
    </tr>
    <tr>
      <th>made by</th>
      <!--管理側でのリンクとuser側でのリンクを分ける-->
      <% if admin_signed_in? %>
        <td><b><%= link_to admin_user_path(recipe.user.id),class: "link-highlight" do %>
          <%= recipe.user.name %>
        <% end %></b></td>
      <% else %>
        <td><b><%= link_to user_path(recipe.user.id),class: "link-highlight" do %>
          <%= recipe.user.name %>
        <% end %></b></td>
      <% end %>
    </tr>
    <tr>
      <th>アレンジ前1日目レシピ</th><td><%= recipe.original_menu.name %></td>
    </tr>
    <tr>
      <th>関連タグ</th>
      <td>
        <% recipe_tag_relations.each do |tag| %>
          <% if admin_signed_in? %>
           <div><i class="fa-sharp fa-solid fa-tag"></i><%= tag.tag_name %></div>
          <% else %>
           <div><i class="fa-sharp fa-solid fa-tag"></i><%=link_to tag.tag_name, recipes_search_tag_path(tag_id: tag.id),class: "link-highlight"  %></div>
          <% end %>
        <% end %>
      </td>
    </tr>
  </table>
</section>