<div class="container p-2">
  <div class= "row">
    <!--1日目メニュー一覧（1日目メニュー検索機能-->
    <div class= "col-md-3 mt-5">
      <%= render "public/original_menus/list", original_menus: @original_menus %>
    </div>
    <!--おしまい-->

    <div class="col-md-8 offset-md-1 ">
      <!--レシピ下書き一覧タイトル-->
          <h2 class="title">レシピ下書き一覧</h2>
          <p>(全<%= @recipes_count %>件)</p>
      <!--おしまい-->

      <!--レシピ下書き一覧-->
      <% @recipes.each do |recipe| %>
        <div class="row">
          <div class="col py-1">
            <table class="table table-hover">
              <tr>
                <!--編集画面でのエラー（フォーム追加）エラーをなくすために'data-turbolinks': "false"を記載-->
                <td><%= link_to edit_recipe_path(recipe.id), 'data-turbolinks': "false" do %><%= image_tag recipe.get_menu_image(150,150), class: "rounded" %><% end %></td>
                <td>
                  <h5><b><%= link_to edit_recipe_path(recipe.id),class:"link", 'data-turbolinks': "false" do %><%= recipe.name %><% end %></b></h5><br>
                  <%= recipe.original_menu.name %>のアレンジレシピ
                </td>
              </tr>
            </table>
          </div>
        </div>
      <% end %>
      <!--おしまい-->

      <!--レシピページネーション-->
      <div class="d-flex justify-content-center mt-3 pagination">
        <%= paginate @recipes %>
      </div>
      <!--おしまい-->
    </div>
  </div>
</div>