<div class="container">
  <div class="row">
    <div class="col-md-11">
      <%= render 'layouts/errors', obj: @recipe %>

      <div class="row">
        <h2 class="title"><b>レシピ編集</b></h2>
      </div>

      <%= form_with model: @recipe, local:true do |f| %>
        <div class="form-group row">
          <div class="col-md-3">
             <%= image_tag @recipe.get_menu_image(600, 400), class: "img-fluid rounded" %>
             <%= f.file_field :menu_image, accept: 'image/*', size: 30 %>
          </div>

          <div class="col-md-9 col-sm-12">
            <!--レシピ名、説明文-->
            <div class="cooking-title"><b>レシピについて</b></div>
              <%= f.text_field :name, autofocus: true, placeholder: "メニュー名(50文字以内)" , class: "form-control" %>&ensp;
              <%= f.text_area :description, placeholder: "説明、メッセージ(100字以内)", class: "form-control" %>

            <!--1日目レシピ-->
            <div class="cooking-title"><b>アレンジ前1日目レシピ</b></div>
              <%= @recipe.original_menu.name %>

            <!--タグ-->
            <div class="form-group">
              <div class="cooking-title"><b>関連タグ(カンマ『,』で複数個登録できます)</b></div>
                <section class="tag">
                    <%= f.text_field :tag_name, value: @tag_list, placeholder: "タグ", class: 'form-control recipe_tag_name' %>
                </section>
            </div>
          </div>
        </div>

        <!--材料フォーム、手順フォーム（Javascript)-->
        <%= render 'ingredient_procedure',s: f %>


      <div class="row mt-4 pb-5">
        <div class="form-inline mx-auto">
          <% if @recipe.is_draft == true %>
            <%= f.submit 'レシピを公開', :name => 'publicize_draft', class: 'mr-5 btn btn-light custom-light' %>
            <%= f.submit '下書きに保存', :name => 'update_draft', class: 'ml-5 btn btn-light custom-lightblue' %>
          <% else %>
            <%= f.submit "レシピを更新", :name => 'update_post', class: "btn btn-light custom-light" %>
          <% end %>
        </div>
      </div>
      <div class="mt-2 pb-3 text-center">
        <u><%= link_to "レシピを削除", recipe_path(@recipe.id), method: :delete, data: {confirm: "このレシピを削除しますか？"}, class: "btn btn-light custom-light-important" %></u>
      </div>
      <% end %>
    </div>
  </div>
</div>
