<div class="container p-2">
  <div class= "row">
    <!--1日目メニュー一覧（1日目メニュー検索機能-->
    <div class= "col-md-3 mt-5">
      <%= render "public/original_menus/list", original_menus: @original_menus %>
    </div>


    <!--タグー一覧（タグ検索機能-->
    <div class="col-md-8 offset-md-1 ">
      <h2 class="title">タグが【<%=@tag.tag_name%>】の投稿一覧</h2>
      <p>(全<%= @recipes_count %>件)</p>
        <div class="col">
          <div class="row mb-3">
            <!--タグリスト-->
              <% @tag_list.each do |list|%>
                <i class="fa-sharp fa-solid fa-tag"></i>
                <%=link_to list.tag_name,recipes_search_tag_path(tag_id: list.id) %>
                <%="(#{list.recipes.count})" %>
              <% end %>
          </div>
          <%= link_to "タグ一覧画面", recipes_tag_index_path, class:"btn btn-light custom-light" %>
        </div>
        <section="tag_index">
           <%= render "public/recipes/index", recipes: @recipes %>
        </section>
    </div>
  </div>
</div>