<div class="container">
  <div class="row">
    <div class="col-md-11">
      <div class="row">
        <h2 class="title"><strong<i class="fa-solid fa-star"></i><%= @recipe.name %>のレシピ<i class="fa-solid fa-star"></i></strong></h2>
        <!--自分のレシピの場合は編集ボタンを表示-->
        <div class="edit_form ml-3">
          <% if @recipe.user == current_user && %>
            <%= link_to edit_recipe_path(@recipe.id), class: "btn btn-light custom-light",'data-turbolinks': "false" do %>編集する<% end %>
          <% end %>
        </div>
        &emsp;
        <!--お気に入り機能-->
          <div class="favorite_form">
            <%= render 'favorite_form', recipe: @recipe %>
          </div>
        <!--お気に入り終了-->
      </div>
      <div class="row">

        <div class="col-md-6">
          <%= image_tag @recipe.get_menu_image(600, 400), class: "img-fluid rounded" %>
        </div>

          <div class="col-md-6 col-sm-12">
            <div class="cooking-title"><b>説明</b></div>
              <%= render 'public/recipes/show_recipe_info', recipe: @recipe, recipe_tag_relations: @recipe_tag_relations %>
          </div>

          <div class="col-md-12 col-sm-12">
            <div class="cooking-title"><b>材料</b></div>
              <%= render 'public/recipes/show_ingredients', recipe: @recipe %>
          </div>
          <div class="col-md-12 col-sm-12">
            <div class="cooking-title"><b>作り方</b></div>
              <%= render 'public/recipes/show_procedure', recipe: @recipe %>
          </div>
      </div>
      <!--コメント機能-->
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="cooking-title">
            <div class="post_comment_count">
              <%= render 'public/post_comments/comment_count', recipe: @recipe %>
            </div>
          </div>
            <div class="post_comment">
              <%= render 'public/post_comments/comment_form', recipe: @recipe, post_comment: @post_comment %>
            </div>
        </div>
      </div>
      <!--コメント終了-->
    </div>
  </div>
</div>