<div class="container p-2">
  <div class= "row">
    <div class="col-md-10 offset-md-1 ">
      <div class="row">
        <h2 class="title m-3"><strong><%= link_to original_menus_path, class:"link" do %>1日目メニュー一覧<% end %></strong></h2>
      </div>

      <div class="row m-4">
        <%= form_with url: original_menus_path, method: :get do |f| %>
          <%= f.text_field :keyword, placeholder: "1日目(アレンジ前)メニュー" %>
          <%= f.submit "検索",class: "btn btn-light custom-light" %>
        <% end %>
      </div>

      <div class="row">
          <% if @keyword.present? %>
            <h4><%= "【#{@keyword}】の検索結果" %></h4>
          <% end %>
      </div>
      <div class="row">
        <% if @original_menus.any? %>
          <% @original_menus.each_slice(25) do |original_menus_batch| %>
            <div class="col-6 original-menu-list">
              <% original_menus_batch.each do |original_menu| %>
                <ul>
                  <!--クエリパラメータで1日目メニューidを指定-->
                  <li>
                    <%= link_to recipes_path(original_menu_id: (original_menu.id)), class:"link" do %>
                      <%= original_menu.name %>
                    <% end %>
                  </li>
                </ul>
              <% end %>
            </div>
          <% end %>
          <div class="d-flex justify-content-center mt-3 pagination">
            <%= paginate @original_menus %>
          </div>
        <% else %>
          <p>指定の検索値を含む1日目メニューが見つかりませんでした</p>
        <% end %>
      </div>
    </div>
  </div>
</div>