<div class="container p-2">
  <div class= "row">
    <!--1日目メニュー一覧（1日目メニュー検索機能-->
    <div class= "col-md-3 mt-5">
      <%= render "public/original_menus/list", original_menus: @original_menus %>
    </div>
    <!--おしまい-->

    <div class="col-md-8 offset-md-1 ">
      <!--レシピ下書き一覧タイトル-->
          <th><h2 class="title"><strong>お気に入りレシピ一覧</strong></h2></th>
          <td>(全<%= @recipes_count.count %>件)</td>
      <!--おしまい-->

      <!--お気に入りレシピ一覧-->
      <% @recipes.each do |recipe| %>
        <div class="row">
          <div class="col py-1">
            <table class="table table-hover">
              <tr>
                <td><%= link_to recipe_path(recipe.id) do %><%= image_tag recipe.get_menu_image(150,150), class: "rounded"%><% end %></td>
                <td>
                  <h5><b><%= link_to recipe_path(recipe.id), class:"link" do %><i class="fa-solid fa-heart"></i><%= recipe.name %><% end %></b></h5><br>
                  <%= recipe.original_menu.name %>のアレンジレシピ
                </td>
              </tr>
            </table>
          </div>
        </div>
      <% end %>
      <!--おしまい-->

      <!--レシピページネーション-->
      <p><%= paginate @recipes %></p>
      <!--おしまい-->
    </div>
  </div>
</div>