<div class="container">
  <div class="row">
    <div class="col-md-11">
      <div class="row">
        <h2 class="title mb-5"><strong><%= @user.name %>さんの会員情報編集</strong></h2>
      </div>
      <div class="row">
        <span><%= image_tag @user.get_profile_image(150, 150), class: "rounded-circle", style: "width: 150px; height: 150px;" %></span>
        <div class="col-sm-12 col-md-8 col-lg-6 mx-auto">

          <%= form_with model: @user, url: admin_user_path do |f| %>
          <%= render "public/shared/error_messages", resource: @user %>

          <div class="form-group">
            <div class="row">
              <div class="col-md-4">
                <%= f.label :profile_image, "プロフィール画像" %>
              </div>
              <div class="col-md-8">
                <%= f.file_field :profile_image, class: "form-control-file user_image", accept: 'image/*' %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-4">
                <%= f.label :name, "登録名" %>
              </div>
              <div class="col-md-8">
                <%= f.text_field :name, class: "form-control name" %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-4">
                <%= f.label :email, "メールアドレス" %>
              </div>
              <div class="col-md-8">
                <%= f.email_field :email, class: "form-control email", id: "email" %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
               <div class="col-md-4">
                 <%= f.label :user_status, "会員ステータス" %>
               </div>
               <div class="col-md-8">
                 <%= f.radio_button :is_deleted, false, autofocus: true, id: "inputIsDeleted0" %>
            　  　<%= f.label :is_deleted0, "有効" %>
              　  <%= f.radio_button :is_deleted, true, autofocus: true, id: "inputIsDeleted1" %>
           　   　<%= f.label :is_deleted1, "退会" %>
               </div>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col mt-2 mr-1 text-center">
              <%= f.submit "変更を保存する", class: 'btn btn-light' %>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
