<div class="container p-2">
  <div class= "row">
    <!--1日目メニュー一覧（1日目メニュー検索機能-->
    <div class= "col-md-3 mt-5">
      <%= render "public/original_menus/list", original_menus: @original_menus %>
    </div>
    <!--おしまい-->

    <div class="col-md-8 offset-md-1 ">
      <!--レシピ一覧タイトル-->
          <h2 class ="my-2"><i class="fa-solid fa-utensils"></i>&ensp;<%= @user.name %>'s kitchen&ensp;<i class="fa-solid fa-utensils"></i></h2>
          <p>(全<%= @recipes_count %>件)</p>

      <!--自分のページの場合のみ全ての投稿を削除するボタン-->
          <% if @user == current_user %>
            <%= link_to "投稿を全て削除", recipes_destroy_all_path, method: :delete, data: {confirm: "本当に全てのレシピを削除しますか？"}, class: "btn btn-light custom-light-important" %>
          <% end %>

      <!--レシピ一覧テンプレート-->
      <%= render "public/recipes/index", recipes: @recipes %>
      <!--おしまい-->
    </div>
  </div>
</div>